message: 
  welcome: Welcome to the bank.

mongodb:
  secret: /run/secrets/bankteller-mongodb/auth

logging:
  level:
    org.mongodb: WARN
    org.springframework: INFO
    org.justinbaur: DEBUG

server:
  port: 10000
spring:
  data:
    mongodb:
      uri: mongodb+srv://${mongodb.username}:${mongodb.password}@cluster0.gidim.mongodb.net/bankteller?retryWrites=true&w=majority
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://dev-42050863.okta.com/oauth2/default
          jwk-set-uri: https://dev-42050863.okta.com/oauth2/default/v1/keys
